@media (min-width: 990px) {
	.navbar-brand {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 2%;
	}
}

@media screen and (max-width: 990px) {
	.btn-store {
		width: 180px !important;
		padding: 6px 3px !important;
		font-size: 15px;		
	}

	.btn-caption {
		font-size: 20px !important;
	}
}

@media screen and (max-width: 768px) {
  .rc{
	  margin-top:10px;
  }
  body{
	  height:860px;
  }
  .btn-primary{
	width: 100%;
  }
}

.fr{
	padding:5px 0;
}
.CenterDiv{
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
.btn-store {
  color: #ffffff;
  width: 222px;
  padding: 12px 30px;
  background-color: #000000;
  margin:2px 0;
}

.btn-store:focus, 
.btn-store:hover {
  color: #ffffff !important;
  background-color: #22394a;
  border-color: #22394a !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}

.basic, .basic > th, .basic > td{
	border:1px solid black;
}

#userlist {
	text-align: center;
}

.bntlist {
	margin:10px auto;
	width:70% !important;
	padding:10px;
}

.leftpane{
	border:1px solid blue;
}

#real > .row{
	padding:0 13px;
}

.leftmenu > tbody > tr > td > a {
	font-weight: bold;
	text-decoration: none;
}

.custom-select {
	position: relative;
	font-family: Arial;
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
	background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
	position: absolute;
	background-color: DodgerBlue;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }

  .lvrg{
	background-color: #eaeaea;height: 50px;padding: 10px;
  }

  .money{
	text-align: right;
}
.act{
	width:70%;
	margin:0 auto;
}
.mdl{
	padding:10px;
}
.select-action{
	width: 70%;
}
.hiddenRow {
	padding: 0 !important;
}
.spleft{
	text-align: left;
}
.spright{
	text-align: right;
	margin-left:-20px;
}
.accdetail{
	padding:15px;
}
.accdetail > .row {
	border-bottom: 1px solid black;
	padding:15px 0;
}
.btnmn{
	width: 90%;
	font-weight: bold;
}
.datepicker{
	width:200px;
}
#hist_content{
	margin:50px 0;
}
.btnhist{
	width:90%;
	padding:10px;
}
.overviewacc{
	width: 90%;border: 1px solid black;margin: 10px auto;display: block; overflow: auto;
}
.overviewacchead{
	background-color: #eaeaea; height: 50px; text-align: center; text-align: -webkit-center;
}
#hist_deposit,#hist_withdraw,#hist_pendingwd,#hist_trade{
	display: block;
	overflow:auto;
}
  @media screen and (max-width: 448px) {
	.lblfixrate{
        font-size: 10px;
        top: -35px;
        position: relative;
        left: 40px;
    }

	.overviewacchead > tr > th {
		font-size: 12px;
	}

	.btnhist{
		margin: 5px 10px;
	}

	.lvrg{
		height: 65px;
	}

	.leverage > .form-check-label {
		font-size: 14px;
	}

	.btnmn{
		margin: 5px 10px;
	}
  }